:root{
    /* color */
    --primaryColor : #002939;
    --secondaryColor: #DDC190;

    /* Font */
    --mainFont: 'Open Sans', sans-serif;
    --headingFont: 'Merriweather', serif;
}
*{
    box-sizing: border-box !important;
    text-decoration: none !important;
}

body{
    font-family: var(--mainFont);

}
.heading{
    font-family: var(--headingFont);
    font-size: 30px;
    font-weight: 700;
}
.subheading{
    font-weight: 300;
}
.section-margin{
    margin-top: 100px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
}
.section-bg {
    background-color: #f1f7fd;
}

/* Navbar */
.navbar-brand{
    font-family: var(--headingFont);
    font-weight: 900;
}
.navbar{
    background-color: var(--primaryColor) !important;
}
.navbar-brand span{
    color: var(--secondaryColor);
}
.nav-link{
    font-family: var(--headingFont); 
}
.nav-link.active{
    font-weight: 700;
    color: var(--secondaryColor) !important;
}
.icons-home i{
    font-size: 1.8rem;
    color: var(--secondaryColor);
}

/* Home */
.home{
    background-color: var(--primaryColor);
    height: 650px;
    padding-top: 10rem;
}
.home .heading{
    color: var(--secondaryColor);
}
.btn-home .btn-buy{
    background-color: var(--secondaryColor);
    font-family: var(--headingFont);
    font-weight: 700;
}
.btn-home .btn-learn{
    border: 2px solid var(--secondaryColor);
    color: var(--secondaryColor);
    font-family: var(--headingFont);
    font-weight: 700;
}

/* testimoni */
.card-testimoni{
    background-color: var(--primaryColor);
    color: #fff;
}
.card-testimoni .btn-service{
    border: 2px solid var(--secondaryColor);
    color: var(--secondaryColor);
    font-family: var(--headingFont);
    font-weight: 700;
}
.card-testimoni .btn-service:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}
.banner1{
    height: 350px;
}
.banner1 .container{
    background-color: var(--primaryColor);
    overflow-y: hidden;
}
.banner1 .btn-banner1{
    background-color: var(--secondaryColor);
}
.banner1 img{
    bottom: -60%;
}


/* penawaran */
.blog .card-title{
    font-family: var(--headingFont);
    font-weight: 700;

}
.blog .btn{
    background-color: var(--secondaryColor);
}

/* Frequently Asked Questions */

.faq .faq-list {
    padding: 0 100px;
}
.faq .faq-list ul {
    padding: 0;
    list-style: none;
}
.faq .faq-list li + li {
    margin-top: 15px;
}
.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}
.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}
.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #76b5ee;
}
.faq .faq-list .icon-show, .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
    display: none;
}
.faq .faq-list a.collapsed {
    color: #343a40;
}
.faq .faq-list a.collapsed:hover {
    color: #1977cc;
}
.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
    display: none;
}
@media (max-width: 1200px) {
.faq .faq-list {
    padding: 0;
}
}

/* Contact */
form .btn{
    background-color: var(--secondaryColor);
}


/* Footer */
.footer{
    background-color: var(--primaryColor);
    border-radius: 20px 20px 0px 0px;
    margin-top: 100px !important;
}
.footer .footer-brand{
    color: #fff;
    font-family: var(--headingFont);
    font-weight: 900;
}
.footer .footer-brand span{
    color: var(--secondaryColor);
}
.col1 a{
    color: #fff;
}
.icon-footer i{
    font-size: 2rem;
    color: var(--secondaryColor);
}

.col2 h3, .col3 h3, .col4 h3, .col5 h3{
    color: #fff;
    margin-bottom: 20px;
    font-family: var(--headingFont);
    font-weight: 700;
}
.col2 ul li, .col3 ul li, .col4 ul li{
    list-style: none;
    margin: 10px 0;
}

.col2 a, .col3 a, .col4 a{
    color: #fff;
}




@media screen and (min-width: 768px) {
    
    .home{
        padding-top: 14rem;
    }
    .home .heading{
        font-size: 36px;
    }
    .banner1 img{
        width: 60%;
    }
    .populer i{
        font-size: 2.9rem;
    }
    .banner2 .price{
        width: 50%;
    }
    .blog, .banner2{
        margin-top: 150px !important;
    }
    
    
}

@media screen and (min-width: 992px) {
    .section-margin{
        margin-top: 200px !important;
    }
    .home .content-left{
        padding-bottom: 40px;
    }
    .home .heading{
        font-size: 46px;
    }
    .home .subheading{
        font-size: 20px;
    }
    .home img{
        right: 0;
        bottom: -20%;
    }
    .home .img2{
        right: 0;
        width: 250px;
    }
    .home .container, .home .row{
        height: 100%;
    }
    .banner1 img{
        top: 100%;
    }
    .banner1{
        height: 200px;
    }
    .banner1 .container{
        padding: 0 4rem;
    }
}