div	{
	margin: auto ;
	width: 400px;
	margin-top: 100px;
}

table {
	border-style: none;
	border-collapse: collapse;
	width: 100%;
}

th{
	background-color: #f9fcfb;
	padding: 5px;
	border: none;
	font-size: 16px;
}

td{
	border: none;
}

input[type=text]{
	padding: 10px;
	width: 380px;
	border-style: solid;
	border-color: #8193b4;
	font-size: 16px;
}

input[type=text]:disabled{
	background-color: rgb(248, 250, 252);
}

button {
	width: 50%;
	height: 30px;
	background-color: #4c93af;
    border: none;
    color: white;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}